.header{
    background-color: rgb(94, 189, 213);
    height: 40px;

}
.headerbuttons{
    display: flex;
    gap: 30px;
    padding: 10px;
    font-size: 17px;
    align-items: center;
    margin-left: 30px;
    font-family: 'Times New Roman', Times, serif;
}
.headerbuttons text{
    color: black;
}

